@import "../../../Style/variable";

.edit-product-container {
  font-family: $vietnam;
  min-width: 75rem;
  @include flexRow(center, center);
  .header-text {
    margin: 0 0 5rem 0;
  }
  .form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 5rem;

    .input-field {
      // margin-bottom: 1rem;
    }

    .img-field {
      @include flexCol(center, center);
      .product-img {
        max-width: 8rem;
      }
    }
    .btn-signup {
      @include buttonStyle($btnBgCorlor, 0.5rem, $white, 10rem, 2.5rem);
    }
  }
}
