//colors
$red: #e50914;
$white: #FFFFFF;
$black: #222222;
// $gray-text: #969696;
// $footer-bg: #F8F8F8;
// $card-text: #4A4A4A;
//fonts
$eng-font: 'Montserrat',sans-serif;
$roboto: 'Roboto',sans-serif;
$poppins: 'Poppins', sans-serif;
// $vn: ''
@mixin flexRow($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin flexCol($justify, $align){
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}
