.login-container {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Be Vietnam Pro", sans-serif;
  color: #716c6b;
}

.login-container .login-wrapper {
  min-width: 60rem;
  min-height: 70vh;
  background-color: #fcfcfc;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.login-container .login-wrapper .left-col-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .login-wrapper .left-col-container .greet-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.login-container .login-wrapper .left-col-container .greet-text p {
  margin-top: 0.5rem;
}

.login-container .login-wrapper .left-col-container .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  font-family: "Poppins", sans-serif;
}

.login-container .login-wrapper .left-col-container .form-wrapper .input-field {
  margin-bottom: 1rem;
}

.login-container .login-wrapper .left-col-container .form-wrapper .select-account-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .login-wrapper .left-col-container .form-wrapper .select-account-container p {
  margin-bottom: 0.5rem;
}

.login-container .login-wrapper .left-col-container .form-wrapper .select-account-container .form-select {
  font-family: "Be Vietnam Pro", sans-serif;
}

.login-container .login-wrapper .left-col-container .form-wrapper .input {
  margin-top: 0.5rem;
  border: 1px solid lightgray;
  outline: none;
  padding: 0.3rem;
  color: #716c6b;
  width: 15rem;
}

.login-container .login-wrapper .left-col-container .form-wrapper .login-btn {
  background-color: #e50914;
  border: none;
  color: #ffffff;
  padding: 0.8rem 0;
  width: 15rem;
  font-size: 1rem;
  font-family: "Be Vietnam Pro", sans-serif;
  cursor: pointer;
}

.login-container .login-wrapper .left-col-container .link {
  margin-top: 1rem;
  text-decoration: underline;
}

.login-container .login-wrapper .left-col-container .link p {
  font-size: 0.8rem;
  color: #0078d7;
}

.login-container .login-wrapper .right-col-container {
  background-color: #e50914;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  -webkit-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .login-wrapper .right-col-container .fab {
  font-size: 10rem;
  color: #ffffff;
}

.login-container .login-wrapper .right-col-container p {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
/*# sourceMappingURL=Login.css.map */